<!DOCTYPE html>
<html lang="pt-BR">
{% load static %}
<head>
  <meta charset="UTF-8">
  <title>Login - Ciranda</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

<header>
  <div class="logo-area">
    <img src="{% static 'imagens/logo.png' %}" class="logo-icon">
    <strong>Ciranda</strong>
  </div>
  <nav>
    <a href="/inicio/">Início</a>
    <a href="/sobre/">Sobre</a>
    <a href="/oportunidades/">Oportunidades</a>
    <a href="{% url 'escolha_perfil' %}" class="btn-outline">Entrar / Cadastrar</a>
  </nav>
</header>

<div class="container">

  <h1>Entrar na Ciranda</h1>

  <div class="card">
    <form method="post">
      <!-- Django vai substituir depois -->
      <input type="email" placeholder="E-mail">
      <input type="password" placeholder="Senha">

      <a href="{% url 'area' %}">
        <button type="button" class="btn-primary">Entrar</button>
      </a>


    <p>Não tem conta?  
      <a href="{% url 'conta' %}">
        <button type="button" class="btn-primary">Criar Conta</button>
      </a>
    </p>
  </div>

</div>

</body>
</html>
